# 데이터셋 설명
- 여러 플랫폼의 년도별 출시된 게임 데이터셋 출처 : https://mlcourse.ai/
- Name : 게임명
- Platform : 출시 플랫폼
- Year_of_Release : 출시년도
- Genre : 장르
- Publisher : 출시 업체
- {지역별}_Sales : 판매량
- User_Score : 유저스코어 (tbd : 측정 안됨)
- Developer : 개발 업체
- Rating : 이동등급()

# Question 1
- 데이터 Url을 이용하여 df변수에 데이터를 로드하라

In [15]:
import pandas as pd
# df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/video/master/video_games_sale.csv', index_col=0)
# df.to_csv('c:/workspace/cakd3/수업/dataset/video_games_sale.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/video_games_sale.csv', index_col=0).iloc[:,:-1]
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
2,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
3,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
4,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E

# Question 2
- video_games_sales 데이터셋(video_games_sales.csv)의 출시년도(Year_of_Release) 컬럼을\
10년단위(ex 1990~1999 : 1990)로 변환하여 새로운 컬럼(year_of_ten)에 추가하고\
게임이 가장 많이 출시된 년도(10년단위)와 가장 적게 출시된 년도(10년단위)를 각각 구하여라.

In [24]:
df['year_of_ten'] = ((df['Year_of_Release']//10)*10).astype(int)
print(df['year_of_ten'].value_counts().sort_values().index[0])
print(df['year_of_ten'].value_counts().sort_values().index[-1])

1980
2000

# Question 3
- 플레이스테이션 플랫폼 시리즈(PS,PS2,PS3,PS4,PSV)중 장르가 Action로 발매된 게임의 총 수는?

In [30]:
len(df[(df['Platform'].isin(['PS','PS2','PS3','PS4','PSV']))&(df['Genre']=='Action')])

616

# Question 2
- 게임이 400개 이상 출시된 플랫폼들을 추출하여 각 플랫폼의 User_Score 평균값을 구하여 데이터프레임을 만들고 값을 내림차순으로 정리하여 출력하라

In [43]:
x = df.Platform.value_counts()
df[df['Platform'].isin(x[x>=400].index)].groupby('Platform')['User_Score'].mean().sort_values(ascending=False).to_frame()

          User_Score
Platform
PS2         7.664386
XB          7.540708
PC          7.060369
DS          7.047198
Wii         6.903758
PS3         6.782705
X360        6.780769

# Question 3
- 게임 이름에 Mario가 들어가는 게임을 3회 개발한 개발자(Developer컬럼)을 구하여라

In [121]:
x = df[df['Name'].str.contains('Mario')].groupby('Developer').size()
list(x[x==3].index)

['Nintendo, Nd Cube', 'Nintendo, Nintendo Software Technology']

In [123]:
# 풀이
target = df[df.Name.str.contains('Mario')].Developer.value_counts()
list(target[target==3].index)

['Nintendo, Nintendo Software Technology', 'Nintendo, Nd Cube']

# Question 4
- PS2 플랫폼으로 출시된 게임들의 User_Score의 첨도를 구하여라

In [52]:
df[df['Platform']=='PS2']['User_Score'].kurtosis() # cf) 왜도: series.skew()

2.4920035946875965

# Question 5
- 각 게임별 NA_Sales,EU_Sales,JP_Sales,Other_Sales 값의 합은 Global_Sales와 동일해야한다. 소숫점 2자리 이하의 생략으로 둘의 값의 다른경우가 존재하는데, 이러한 케이스가 몇개 있는지 확인하라

In [66]:
((df['NA_Sales']+df['EU_Sales']+df['JP_Sales']+df['Other_Sales']) != df['Global_Sales']).sum()

3636

# Question 6
- User_Count컬럼의 값이 120 이상인 게임들 중에서 User_Score의 값이 9.0이상인 게임의 수를 구하여라

In [69]:
len(df[(df['User_Count']>=120)&(df['User_Score']>=9.0)])

86

# Question 7
- Global_Sales컬럼의 값들을 robust스케일을 진행하고 40이상인 데이터 수를 구하여라

In [85]:
from sklearn.preprocessing import robust_scale
df['Global_Sales_scaled'] = robust_scale(df['Global_Sales'])
len(df[df['Global_Sales_scaled']>=40])

6

In [104]:
# 풀이
from  sklearn.preprocessing import RobustScaler
rb = RobustScaler()
rb_fit = rb.fit_transform(df.Global_Sales.values.reshape(-1,1))
len(rb_fit[rb_fit>40])

6