# 0.단답형
1주차
- Q1.복원 랜덤샘플링 방식을 통해 표본을 추출하여 모델을 학습시키고 집계하는 앙상블 방식은 무엇인가?
- Q2.인터넷상에서 제공되는 다양한 웹사이트로부터 소셜네트워크 정보, 뉴스, 게시판 등의 웹문서 및 콘텐츠 수집 기술은?
- Q3.독립변수들 간에 강한 상관관계가 나타나서, 회귀분석의 전제가정인 독립변수들 간에 상관관계가 높으면 안된다는 조건을 위배하는 경우를 의미하는 용어는?
- Q4.빅데이터 저장 기술중 하나로 RDBMS와 구분된 DBMS를 지칭하기 위한 용어로, 고정된 테이블 스키마가 필요하지 않으며, JOIN 연산을 사용할 수 없는 수평적 확장가능한 DBMS를 뜻하는 단어는?\
- Q5.문장에서 사용된 단어의 긍정과 부정여부에 따라 얼마나 긍정적인 단어가 많은지 소스를 부여해 긍정 문장인지 평가하는 데이터 마이닝의 한종류는?

2주차
- 과목 : 수집 및 저장 계획
- Q1. RDBMS의 고정된 필드에 저장될 수 있으며, 데이터 스키마 지원을 하는 데이터 유형은?
- Q2. 데이터 속성인 메타데이터를 가지며, 일반적으로 스토리지에 저장되는 데이터파일이며 HTML,XML,JSON등의 종류를 가지는 데이터 유형은?
- Q3. 언어 분석이 가능한 텍스트 데이터, 형태와 구조가 복잡한 이미지 동영상 같은 멀티미디어 데이터를 의미하는 데이터 유형의 종류는?

- 과목 : 데이터 전처리
- Q1. 오버샘플링의 한 방식으로 데이터의 개수가 적은 클래스의 표본을 가져온 뒤 임의의 값을 추가하여 새로운 샘플을 만드는 데이터 불균형 해소 방법은?

- 과목 : 분석기법 적용
- Q1.로지스틱회귀모형의 해석방법중 하나로 특정변수가 한단위 증가할때 성공하는 확률을 표현하는 단위는?

3주차
- 과목 : 분석기법 적용
- Q1. 신경망 모형의 활성함수 종류중 하나로 다음의 식으로 표현되는 활성함수는? y= 1/(1+exp(-z))
- Q2. 의사결정나무 구조는 나무의 가지를 생성하는 가지분할의 과정과 생성된 가지를 잘라내어 모형을 단순화하는 ( ) 이 과정으로 구성되어있다.
- Q3. 의사결정나무분석을 위한 알고리즘중 CHAID 방식의 이산형 목표변수 선택법은 무엇인가?
- Q4. 여러개의 분류모형에 의한 결과를 종합하여 분류의 정확도를 높이는 방법은?
- Q5. 부트스트랩 표본을 구성하는 재표본 과정에서 각 자료에 동일한 확률을 부여하는 것이 아니라, 분류가 잘못된 데이터에 더 큰가중을 주어 표본을 추출하는 방법은?

4주차
- 과목 : 분석 모형 평가 및 개선
- Q1. 모델 검증방법중 하나로 일반적으로 전체 데이터 중 70%의 데이터는 훈련용 자료로 사용하고 나머지는 검증용 자료로 사용하는 방식은?
- Q2. 교차검증의 대표적인 기법으로 데이터를 k개의 하부 집합으로 나누고 k번쨰의 하부집합을 검증, 나머지 k-1개의 하부집합을 훈련용 자료로 사용하는 방법
- Q3. 실제값이 True인 관측치 중 예측치가 적중한 정도를 나타내는 분류모델의 평가방식은?
- Q4. 실제값이 False인 관측치 중 예측치가 적중한 정도를 나타내는 분류모델의 평가방식은?
- Q5. ROC그래프의 x축에는 FP ratio(1-특이도)를 나타내며 y축에는 ( ) 를 나타낸다. 빈칸에 들어갈 단어는?

5주차
- 과목 : 분석 모형 평가 및 개선 + 분석기법 적용
- Q1. 랜덤 모델과 비교하여 해당 모델의 성과가 얼마나 향상되었는지를 각 등급별로 파악하는 그래프는?
- Q2. 군집분석의 한 방법으로 가장 유사한 개체를 묶어 나가는 과정을 반복하여 원하는 개수의 군집을 형성, 보통 덴드로그램의 형태로 결과가 주어지는 방식은?
- Q3. 계측정 군집 수행시 거리측정 방법중 하나로, 모든 항목에 대한 거리 평균을 구하면서 군집화를 하는 방식은?
- Q4. 모든 변수가 연속형인 경우에 데이터 좌표간 거리를 구하는 방식중 하나로 좌표간 거리차이의 절댓값의 총합을 나타내는 표현은?
- Q5. 원하는 군집수만큼 초기값을 지정하고, 각 개체를 가까운 초기값에 할당하여 군집을 형성한 뒤, 각 군집의 평균을 재계산하여 초기값을 갱신하는 군집방법은?



6주차
- 과목 :  분석기법 적용 + 데이터 이해
- Q1. 비지도 신경망으로 고차원의 데이터를 이해하기 쉬운 저차원의 뉴런으로 정렬하여 지도의 형태로 형상화하는 군집분석방법의 한종류는?
- Q2. 항목들 간의 '조건-결과'식으로 표현되는 유용한 패턴, 규칙을 발견해내는 분석종류의 방법으로 장바구니 분석이라고도 부르는 이 방법은?
- Q3. 연관규칙의 측정지표중 하나로 전체 거래중에서 두 품목이 동시에 포함되는 거래의 비율을 나타내는말은?
- Q4. 연관규칙의 측정지표중 하나로 품목 A가 포함된 거래 중에서 품목 A,B를 동시에 포함하는 거래일 확률은 어느정도인가를 나타내는 지표는?
- Q5. 지식의 피라미드 단계중 지식의 축적과 아이디어가 결합된 창의적산물을 지칭하는 단계는?


7주차
- 과목 : 분석기법 적용 + 데이터 이해
- Q1. 동시에 복수의 적용 업무를 지원할 수 있도록 복수 이용자의 요구에 대응해서 데이터를 받아들이고 저장, 공급하기 위하여 일정한 구조에 따라서 편성된 데이터의 집합을 의미하는 용어는?
- Q2. 모형기반의 군집 방법으로 데이터가 k개의 모수적 모형의 가중합으로 표현되는 모집단 모형으로부터 나왔다는 가정하에서 모수와 함께 가중치를 자료로부터 추정하는 방법을 사용하는 군집방식은?
- Q3. 혼합분포에서의 모수 추정은 단일 분포의 경우와는 달리 가능도 함수에 기초한 최대가능도 추정이 쉽지않다. 혼합분포에 대한 최대 가능도 추정을 위해 사용 되는 알고리즘은?
- Q4. 최소 지지도 보다 큰 집합만을 대상으로 높은 지지도를 갖는 품목집합을 찾는 연관분석 알고리즘으로 다음의 절차를 가지는 알고리즘의 이름은? 
- Q5. 자연어 처리의 한 과정으로 접속사, 대명사 등을 제거해주고, 공통 어간을 가지는 단어를 묶기 위해 해주는 전처리는?


8주차
- 과목 : 분석기법 적용
- Q1. 개인과 집단들 간의 관계를 노드와 링크로서 모델링해 그것의 위상구조와 확산 및 진화과정을 계량저긍로 분석하는 방법론은?
- Q2. 사회 연결망 분석 기법 중 중심성을 측정하는 방법중의 하나로 한노드에 직접적으로 연결된 노드들의 합으로 연산하는방법은?
- Q3. ( ) 은/는 필수 데이터가 입력이 안 되고 누락된 값을 의미하며 적재과정에서 임의 누락 또는 의도하지않은 결실등에 의해 발생한다
- Q4. 데이터를 크기가 있는 값들로 이뤄진 자료를 순서대로 나열했을 때 백분율로 나타낸 특정 위치의 값을 이르는 척도에 따라 구분하고 극단적인 이상치를 제거하는 방법은?
- Q5. 결측치의 대체를 하는 방법중의 하나로 회귀 분석을 실시한 결과로 얻은 추정치를 결측값의 대체값으로 사용하는 방법은?


9주차
- 과목 : 분석기법 적용 + 데이터 수집 및 저장 계획​
- Q1. 이상값 검출방식중 하나로 오름차순으로 정렬된 데이터에서 범위에 대한 관측치 간 차이의 비율을 이용하여 이상값으로 판단하는 방법은?
- Q2. 데이터 정제 기술중 하나로 데이터를 정제 규칙적용하기 위해 최소 단위로 분할하는 작업을 의미하는 용어는?
- Q3. 실시간에 근접하게 대량 로그 데이터를 수집하고 처리하는 기술은?
- Q4. 사회 연결망 분석 기법 중 중심성을 측정하는 방법중의 하나로 간접적으로 연결된 모든 노드 간의 거리를 합산해 중심성을 측정하는 방법은?
- Q5. 대규모 분산 시스템 모니터링 및 agent와 collector 구성을 통해 하둡 분산 시스템으로 데이터를 수집하는 방식은?

10주차
- 과목 : 분석기법 적용 + 데이터 수집 및 저장 계획​
- Q1. 수집 대상데이터를 추출, 정제 후 데이터 웨어 하우스나 데이터 마트에 저장하는 기술을 의미하는 용어는?
- Q2. 변수간의 상호 작용을 감지할 수 있도록 변수 일부만을 모델링에 사용한 후, 그 결과를 평가하는 작업을 반복수행하며 변수를 증가, 감소 할지 결정하는 변수 선택기법은?
- Q3. 자연계의 유전자 진화 과정을 활용하여 선택, 교배,변이,평가를 반복하여 최적화 문제를 해결하는 기법은?
- Q4. 사회 연결망 분석 기법 중 중심성을 측정하는 방법중의 하나로 네트 워크 내에서 한 노드가 담당하는 매개자 혹은 중재자 역할의 정도로 중심성을 측정하는 방법은?
- Q5. L1 정규화를 위해 가중치의 절댓값과 동일한 페널티를 추가 제약조건으로 사용하는 임베디드 기법은?

11주차
- 과목 : 분석기법 적용
- Q1. 데이터의 분포를 학습하여 선형으로 데이터를 분할하는 결정 경계를 만들어 분류하는 기법으로 각 범주의 중심값을 멀고 분산이 작은 값을 가져야 잘된 분류로 판단하는 기법은?
- Q2. 고차원에 존재하는 데이터간의 거리를 최대한 보존하면서 데이터 간의 관계를 t-분포를 사용하여 차원을 축소하는 기법인 비선형 차원축소 알고리즘을 무엇이라하는가?
- Q3. 주어진 변수를 특정 기준, 조건, 조합하여 정의한 새로운 변수를 무엇이라하는가?
- Q4. 변수 스케일링 기법중 하나이며 사분위 값중 중앙값을 0으로 지정하며, 이상치의 영향을 최소화 하며 데이터 분포를 더 넓게 표현하기 위하여 사용하는 기법은?
- Q5. 텍스트 마이닝 기법 중 특징 추출 기법으로 대상 문서 내에서 한 단어가 얼마나 중요한지를 나타내는 정량적인 수치는 무엇인가?

# 1. 1주차

## 작업형1-1
- 데이터 설명 : 2020년도 이화동(서울) , 수영동(부산)의 시간단위의 기온과 강수량
- 데이터 출처 : https://data.kma.go.kr/cmmn/static/staticPage.do?page=intro
- 데이터 url : https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv

Q1. 여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [214]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/weather2.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/weather2.csv', index_col=0)
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9       0.0       2.5
1  2020-01-01 01:00:00    0.0   -3.1       0.0       3.4
2  2020-01-01 02:00:00    0.0   -1.8       0.0       3.8
3  2020-01-01 03:00:00    0.0   -0.8       0.0       4.6
4  2020-01-01 04:00:00    0.0   -0.1       0.0       5.1

In [21]:
df['time'] = pd.to_datetime(df['time'])
df_summer = df[(df['time']>='2020-06-01')&(df['time']<='2020-08-31')]
len(df_summer[df_summer['이화동기온'] > df_summer['수영동기온']])

1399

Q2. 이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [46]:
df[df['이화동강수']==df['이화동강수'].max()]['time'].values
# df[df['수영동강수']==df['수영동강수'].max()]['time'].values

array(['2020-09-30T09:00:00.000000000'], dtype='datetime64[ns]')

## 작업형1-2
- 데이터 설명 :  고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수 : Exited)
- 데이터 출처 : https://www.kaggle.com/shubh0799/churn-modelling 에서 변형
- Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv

Q1.  남성 이탈(Exited)이 가장 많은 국가(Geography)는 어디이고 이탈 인원은 몇명인가?

In [47]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/train1_2.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/train1_2.csv', index_col=0)
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

In [53]:
df.pivot_table(index='Geography', columns='Gender', values='Exited', aggfunc='sum')[['Male']].sort_values(by='Male', ascending=False)

Gender     Male
Geography
Germany     287
France      285
Spain       137

In [58]:
# 풀이
df[df['Gender']=='Male'].groupby('Geography').sum()[['Exited']].sort_values(by='Exited', ascending=False)

           Exited
Geography
Germany       287
France        285
Spain         137

Q2. 카드를 소유(HasCrCard ==1)하고 있으면서 활성멤버(IsActiveMember ==1) 인 고객들의 평균나이는?

In [62]:
df[(df['HasCrCard']==1)&(df['IsActiveMember']==1)]['Age'].mean()

39.61019283746556

Q3. Balance 값이 중간값 이상을 가지는 고객들의 CreditScore의 표준편차를 구하여라

In [65]:
df[df['Balance']>=df['Balance'].median()].CreditScore.std()

97.29451567120793

# 2. 2주차

## 작업형 2-1
- 데이터 설명 : 2018년도 성인의 건강검 진데이터 (흡연상태 1- 흡연, 0-비흡연 )
- 데이터 출처 :https://www.data.go.kr/data/15007122/fileData.do

Q1. 시력(좌) 와 시력(우)의 값이 같은 남성의 허리둘레의 평균은?

In [13]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/smoke.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/smoke.csv',index_col=0)
df.head(3)

,성별코드,연령대코드(5세단위),신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기혈압,...,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진수검여부,치아우식증유무,치석
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N

In [3]:
df[df['시력(좌)']==df['시력(우)']]['허리둘레'].mean()

82.24084311116516

Q2. 40대(연령대코드 40,45) 여성 중 '총콜레스테롤'값이 40대 여성의 '총콜레스테롤'중간값 이상을 가지는 그룹과\
50대(연령대코드 50,55) 여성 중 '총콜레스테롤'값이 50대 여성의 '총콜레스테롤' 중간값 이상을 가지는 두 그룹의\
'수축기혈압'이 독립성,정규성,등분산성이 만족하는것을 확인했다.\
두 그룹의 '수축기혈압'의 독립표본 t 검증 결과를 통계값, p-value 구분지어 구하여라.

In [25]:
from scipy.stats import ttest_ind
df_40 = df[(df['연령대코드(5세단위)']==40)|(df['연령대코드(5세단위)']==45)]
df_50 = df[(df['연령대코드(5세단위)']==50)|(df['연령대코드(5세단위)']==55)]

df_40_median = df_40[df_40['총콜레스테롤']>=df_40['총콜레스테롤'].median()]
df_50_median = df_50[df_50['총콜레스테롤']>=df_50['총콜레스테롤'].median()]

print(ttest_ind(df_40_median['수축기혈압'], df_50_median['수축기혈압']))

Ttest_indResult(statistic=-4.509623512993336, pvalue=6.550485150776719e-06)

## 작업형 2-2

Q1. 수축기혈압과 이완기 혈압기 수치의 차이를 새로운 컬럼('혈압차') 으로 생성하고, 연령대 코드별 각 그룹 중 '혈압차' 의 분산이 5번째로 큰 연령대 코드를 구하여라

In [27]:
df.columns

Index(['성별코드', '연령대코드(5세단위)', '신장(5Cm단위)', '체중(5Kg단위)', '허리둘레', '시력(좌)',
       '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤',
       '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소', '요단백', '혈청크레아티닌',
       '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태', '구강검진수검여부', '치아우식증유무',
       '치석'],
      dtype='object')

In [37]:
df['혈압차'] = df['수축기혈압'] - df['이완기혈압']
df.groupby('연령대코드(5세단위)')['혈압차'].var().sort_values(ascending=False).index[4]

60

Q2. 비만도를 나타내는 지표인 WHtR는 허리둘레 / 키로 표현한다. 일반적으로 0.58이상이면 비만으로 분류한다. 데이터중 WHtR 지표상 비만인 인원의 남/여 비율을 구하여라

In [48]:
df['WHtR'] = df['허리둘레']/df['신장(5Cm단위)']
df_ob = df[df['WHtR']>=0.58]
print('비만 남성비율: ', len(df_ob[df_ob['성별코드']=='M'])/len(df_ob))
print('비만 여성비율: ', len(df_ob[df_ob['성별코드']=='F'])/len(df_ob))

비만 남성비율:  0.5390404515522107
비만 여성비율:  0.4609595484477893

# 3. 3주차

## 작업형 3-1
- 데이터 설명 : 자동차 보험 가입 예측
- 데이터 출처 : https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction(참고, 데이터 수정)

In [75]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/insurance.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/insurance.csv',index_col=0).set_index('id')
df.head(3)

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
id,,,,,,,,,,,
188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0

Q1. Vehicle_Age 값이 2년이상인 사람들 중 Annual_Premium 값이 해당 그룹의 중간값 이상인 사람들을 찾고, 그들의 Vintage값의 평균을 구하여라

In [95]:
df_va = df[df['Vehicle_Age']=='> 2 Years']
df_va[df_va['Annual_Premium']>=df_va['Annual_Premium'].median()]['Vintage'].mean()

154.55906743858552

Q2. vehicle_age에 따른 각 성별(gender)그룹의 Annual_Premium값의 평균을 구하여 아래 테이블과 동일하게 구현하라

In [100]:
df.pivot_table(index='Vehicle_Age', columns='Gender',values='Annual_Premium')

meandf = df.groupby(['Gender','Vehicle_Age'],as_index = False)['Annual_Premium'].mean()
meandf.pivot(index='Vehicle_Age',columns='Gender',values='Annual_Premium')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

## 작업형 3-2
- 데이터 설명 : 핸드폰 가격예측 (price_range컬럼 0(저렴) ~3(매우비쌈) 범위 ) 
- 데이터 출처 :https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv

In [102]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/mobile.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/mobile.csv',index_col=0)
df.head(3)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2

Q1. price_range 의 각 value를 그룹핑하여, 각 그룹(price_range)의 n_cores의 빈도가 가장높은 value와 그 빈도수를 구하여라

In [166]:
# 풀이
df.groupby(['price_range','n_cores'])['n_cores'].size().sort_values().groupby('price_range').tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
Name: n_cores, dtype: int64

Q2. price_range 값이 3인 그룹에서 상관관계가 2번째로 높은 두 컬럼과 그 상관계수를 구하여라

In [187]:
# 풀이
cordf = df[df['price_range']==3].corr().unstack().sort_values(ascending=False) # pivot의 unstack
cordf[cordf!=1]

fc           pc              0.635166
pc           fc              0.635166
three_g      four_g          0.604218
four_g       three_g         0.604218
px_width     px_height       0.538207
                               ...
price_range  talk_time            NaN
             three_g              NaN
             touch_screen         NaN
             wifi                 NaN
             price_range          NaN
Length: 421, dtype: float64

# 4. 4주차

## 작업형 4-1
- 데이터 설명 : 비행탑승 경험 만족도 (satisfaction 컬럼 : 'neutral or dissatisfied' or satisfied )   (83123, 24) shape
- 데이터 출처 :https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (참고, 데이터 수정)

In [189]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/airline.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/airline.csv',index_col=0)
df.head(3)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied

Q1. Arrival Delay in Minutes 컬럼이 결측치인 데이터들 중 'neutral or dissatisfied' 보다 'satisfied'의 수가 더 높은 Class는 어디 인가?

In [224]:
df[df['Arrival Delay in Minutes'].isnull()][['Class', 'satisfaction']].groupby(['Class','satisfaction']).size().to_frame()

                                    0
Class    satisfaction
Business neutral or dissatisfied   36
         satisfied                 76
Eco      neutral or dissatisfied  100
         satisfied                 25
Eco Plus neutral or dissatisfied   15
         satisfied                  4

In [217]:
# 풀이
df[df['Arrival Delay in Minutes'].isnull()].groupby(['Class','satisfaction'],as_index=False).size().pivot(index='Class',columns='satisfaction')

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76
Eco                              100        25
Eco Plus                          15         4

## 작업형 4-2
- 데이터 설명 : 수질 음용성 여부 (Potablillity 컬럼 : 0 ,1 )
- 데이터 출처 :https://www.kaggle.com/adityakadiwal/water-potability

In [258]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/waters.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/waters.csv',index_col=0)
df.head(3)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0

Q1. ph값은 상당히 많은 결측치를 포함한다. 결측치를 제외한 나머지 데이터들 중 하위 25%의 값들의 평균값은?

In [260]:
ph_notnull = df[df['ph'].notnull()][['ph']]
ph_q1 = ph_notnull.quantile(0.25)
ph_notnull[ph_notnull <= ph_q1].mean()

ph    5.057093
dtype: float64

In [252]:
# 풀이
temp = df['ph'].dropna()
temp[temp<=temp.quantile(0.25)].mean()

5.057093462441732

# 5. 5주차

## 작업형 5-1
- 데이터 설명 : 의료비용 예측문제
- 데이터 출처 : https://www.kaggle.com/mirichoi0218/insurance/code(참고, 데이터 수정)

In [261]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/MedicalCost.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/MedicalCost.csv',index_col=0)
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   64  female  39.33         0     no  northeast  14901.5167
1   47  female  27.83         0    yes  southeast  23065.4207
2   52  female  33.30         2     no  southwest  10806.8390

Q1. 흡연자와 비흡연자 각각 charges의 상위 10% 그룹의 평균의 차이는?

In [271]:
no = df[df['smoker']=='no']['charges']
yes = df[df['smoker']=='yes']['charges']
no[no >= no.quantile(0.9)].mean() - yes[yes >= yes.quantile(0.9)].mean()

-29297.954548156158

## 작업형 5-2
- 데이터 설명 : 킹카운티 주거지 가격 예측문제
- 데이터 출처 : https://www.kaggle.com/harlfoxem/housesalesprediction (참고, 데이터 수정)

In [272]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/kingcountyprice.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/kingcountyprice.csv',index_col=0)
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167

Q1. bedrooms 의 빈도가 가장 높은 값을 가지는 데이터들의 price의 상위 10%와 하위 10%값의 차이를 구하여라

In [280]:
df[df['bedrooms']==df['bedrooms'].value_counts().index[0]]['price'].quantile(0.9) \
    - df[df['bedrooms']==df['bedrooms'].value_counts().index[0]]['price'].quantile(0.1)

505500.0

# 6. 6주차

## 작업형 6-1
- 데이터 설명 : 대학원 입학 가능성 예측
- 데이터 출처 : https://www.kaggle.com/mohansacharya/graduate-admissions(참고, 데이터 수정)

In [291]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/admission.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/admission.csv',index_col=0)
df.head(3)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44

Q1. Serial No. 컬럼을 제외하고 'Chance of Admit'을 종속변수, 나머지 변수를 독립변수라 할때, 랜덤포레스트를 통해 회귀 예측을 할 떄 변수중요도 값을 출력하라 (시드값에 따라 순서는 달라질수 있음)

In [293]:
df.set_index('Serial No.',inplace=True)
x = df.iloc[:,:-1]
y = df.iloc[:,[-1]]

In [317]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=0)
rf.fit(x,y)
pd.DataFrame(rf.feature_importances_, index=x.columns, columns=['Feature Importance']).sort_values(by='Feature Importance',ascending=False)

<ipython-input-317-e08113b55bf9>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x,y)

                   Feature Importance
CGPA                         0.824107
GRE Score                    0.075828
TOEFL Score                  0.033269
SOP                          0.023569
LOR                          0.022393
University Rating            0.012976
Research                     0.007858

## 작업형 6-2
- 데이터 설명 : 레드 와인 퀄리티 예측문제
- 데이터 출처 : https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009(참고, 데이터 수정)

In [1]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/redwine.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/redwine.csv',index_col=0)
df.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5

Q1. quality 값이 3인 데이터와 8인 데이터의 각 독립변수의 표준편차 값이 가장 큰 컬럼을 구하여라

In [2]:
df_3 = df[df['quality']==3].iloc[:,:-1]
df_8 = df[df['quality']==8].iloc[:,:-1]
print(df_3.std().sort_values(ascending=False).index[0])
print(df_8.std().sort_values(ascending=False).index[0])

total sulfur dioxide
total sulfur dioxide

# 7. 7주차

## 작업형 7-1
- 데이터 설명 : 투약하는 약을 분류
- 데이터 출처 : https://www.kaggle.com/prathamtripathi/drug-classification(참고, 데이터 수정)

In [66]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/drug.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/drug.csv',index_col=0)
df.head(3)

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0

Q1. 남성들의 연령대별 (10살씩 구분 0~9세 10~19세 ...) Na_to_K값의 평균값을 구해서 데이터 프레임으로 표현하여라

In [78]:
df['Age_cat'] = df['Age'].map(lambda x:x//10)
df.groupby('Age_cat')[['Na_to_K']].mean()

           Na_to_K
Age_cat
1        17.603111
2        17.220038
3        15.656500
4        14.985273
5        15.810231
6        16.226045
7        14.413364

In [77]:
# 풀이
pre = df.loc[df.Sex=='M']
pre['Age2'] = df.loc[df.Sex=='M'].Age//10 *10
pre.groupby('Age2').mean()[['Na_to_K']]

<ipython-input-77-c78cb4aa14af>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre['Age2'] = df.loc[df.Sex=='M'].Age//10 *10

        Na_to_K
Age2
10    13.627000
20    18.260769
30    15.244143
40    13.897273
50    14.811273
60    14.284308
70    11.363857

## 작업형 7-2
- 데이터 설명 : 사기회사 분류
- 데이터 출처 : https://www.kaggle.com/sid321axn/audit-data(참고, 데이터 수정)

In [80]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/audit.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/audit.csv',index_col=0)
df.head(3)

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1

Q1. 데이터의 Risk 값에 따른 score_a와 score_b의 평균값을 구하여라

In [14]:
df.groupby('Risk')['Score_A','Score_B'].mean()

<ipython-input-14-a4e24d7d3ea6>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Risk')['Score_A','Score_B'].mean()

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

# 8. 8주차

## 작업형 8-1
- 데이터 설명 : 센서데이터로 동작 유형 분류
- 데이터 출처 : https://www.kaggle.com/kyr7plus/emg-4(참고, 데이터 수정)

In [82]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/muscle.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/muscle.csv',index_col=0)
df.head(3)

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0

Q1. pose값에 따른 각 motion컬럼의 중간값의 가장 큰 차이를 보이는 motion컬럼은 어디이며 그값은?

In [103]:
(df.groupby('pose').median().iloc[0] - df.groupby('pose').median().iloc[1]).abs().sort_values(ascending=False).to_frame()

             0
motion_54  4.0
motion_62  4.0
motion_46  3.5
motion_30  3.0
motion_38  3.0
...        ...
motion_33  0.0
motion_34  0.0
motion_36  0.0
motion_39  0.0
motion_63  0.0

[64 rows x 1 columns]

In [97]:
# 풀이
df_t = df.groupby('pose').median().T
df_t['diff'] = (df_t[0] - df_t[1]).abs()
df_t.sort_values(by='diff', ascending=False)[['diff']]

pose       diff
motion_54   4.0
motion_62   4.0
motion_46   3.5
motion_30   3.0
motion_38   3.0
...         ...
motion_33   0.0
motion_34   0.0
motion_36   0.0
motion_39   0.0
motion_63   0.0

[64 rows x 1 columns]

## 작업형 8-2
- 데이터 설명 : 현대 차량가격 분류문제
- 데이터 출처 : https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(참고, 데이터 수정)

In [109]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/hyundai.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/hyundai.csv',index_col=0)
df.head(3)

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0

Q1. 정보(row수)가 가장 많은 상위 3차종의 price값의 각 평균값은?

In [127]:
top_3 = df.model.value_counts().sort_values(ascending=False).index[:3]
df.groupby('model')[['price']].mean().loc[top_3]

                price
 Tucson  15805.441373
 I10      7646.137891
 I30     11651.821759

In [133]:
# 풀이
df[df['model'].isin(df.model.value_counts().sort_values(ascending=False).index[:3])].groupby('model').mean()['price'].to_frame()

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373

# 9. 9주차

## 작업형 9-1
- 데이터 설명 : 당뇨여부 판단하기
- 데이터 출처 : https://www.kaggle.com/pritsheta/diabetes-dataset(참고, 데이터 수정)

In [135]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/diabetes.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/diabetes.csv',index_col=0)
df.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0

Q1. Outcome 값에 따른 각 그룹의  각 컬럼의 평균 차이를 구하여라

In [146]:
df.groupby('Outcome').mean().T[0] - df.groupby('Outcome').mean().T[1]

Pregnancies                 -1.574159
Glucose                    -29.943995
BloodPressure               -3.202079
SkinThickness               -2.952033
Insulin                    -33.398645
BMI                         -4.541437
DiabetesPedigreeFunction    -0.143646
Age                         -5.866939
dtype: float64

In [150]:
# 풀이
display(df.groupby('Outcome').mean().diff()) # 시계열의 차분과 같음
df.groupby('Outcome').mean().diff().iloc[1,:]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.574159,29.943995,3.202079,2.952033,33.398645,4.541437,0.143646,5.866939

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
Name: 1, dtype: float64

## 작업형 9-2
- 데이터 설명 : 넷플릭스 주식데이터
- 데이터 출처 : https://www.kaggle.com/pritsheta/netflix-stock-data-from-2002-to-2021

In [196]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/NFLX.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/NFLX.csv',index_col=0)
df.head(3)

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400

Q1. 매년 5월달의 open가격의 평균값을 데이터 프레임으로 표현하라

In [207]:
df['Date'] = pd.to_datetime(df['Date'])
df[df['Date'].dt.month==5]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2002-05-23,1.156429,1.242857,1.145714,1.196429,1.196429,104790000
1,2002-05-24,1.214286,1.225000,1.197143,1.210000,1.210000,11104800
2,2002-05-28,1.213571,1.232143,1.157143,1.157143,1.157143,6609400
3,2002-05-29,1.164286,1.164286,1.085714,1.103571,1.103571,6757800
4,2002-05-30,1.107857,1.107857,1.071429,1.071429,1.071429,10154200
...,...,...,...,...,...,...,...
4783,2021-05-24,501.049988,504.250000,499.510010,502.899994,502.899994,2412600
4784,2021-05-25,506.000000,506.369995,499.220001,501.339996,501.339996,2699500
4785,2021-05-26,502.339996,504.140015,500.500000,502.359985,502.359985,2465300
4786,2021-05-27,501.799988,505.100006,498.540009,503.859985,503.859985,3253800
4787,2021-05-28,504.399994,511.760010,502.529999,502.809998,502.809998,2910300

In [211]:
# 풀이
df['Date'] = pd.to_datetime(df['Date'])
df = df[df['Date'].dt.month==5]
df.groupby(df['Date'].dt.strftime('%Y-%m')).mean()[['Open']]

# df['Date'] = pd.to_datetime(df['Date'])
# target = df.groupby(df['Date'].dt.strftime('%Y-%m')).mean()
# target.loc[target.index.str.contains('-05')].Open

               Open
Date
2002-05    1.155833
2003-05    1.641497
2004-05    4.261143
2005-05    1.951905
2006-05    4.163571
2007-05    3.159351
2008-05    4.435034
2009-05    5.790571
2010-05   14.417071
2011-05   34.650272
2012-05   10.523247
2013-05   31.936429
2014-05   51.121292
2015-05   85.057429
2016-05   92.705715
2017-05  158.255455
2018-05  329.779541
2019-05  359.664548
2020-05  433.880499
2021-05  496.923996

# 10. 10주차

## 작업형 10
- 데이터 설명 : 유튜브 데일리 인기동영상 (한국)
- 데이터 출처 : https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv

In [215]:
import pandas as pd
# df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")
# df.to_csv('c:/workspace/cakd3/수업/dataset/빅분기/youtube.csv')
df = pd.read_csv('c:/workspace/cakd3/수업/dataset/빅분기/youtube.csv',index_col=0).iloc[:,1:]
df.head(3)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01

Q1.  인기동영상 제작횟수가 많은 채널(channelId) 상위 10개명(channelTitle)을 출력하라 (날짜기준, 중복포함)

In [239]:
# 풀이
print(list(df[df['channelId'].isin(df.channelId.value_counts().head(10).index)]['channelTitle'].unique()))

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

Q2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널(channelTitle)을 모두 출력하라

In [246]:
print(df[df.likes < df.dislikes].channelTitle.unique())

['핫도그TV' 'ASMR 애정TV' '하얀트리HayanTree' '양팡 YangPang' '철구형 (CHULTUBE)'
 '왜냐맨하우스' '(MUTUBE)와꾸대장봉준' '오메킴TV' '육지담' 'MapleStory_KR'
 'ROAD FIGHTING CHAMPIONSHIP' '사나이 김기훈' '나혼자산다 STUDIO' 'Gen.G esports']

Q3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [264]:
# 풀이
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
len(change[change>1])

71

Q4. 일요일에  인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [282]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df[df['trending_date2'].dt.day_name()=='Sunday']['categoryId'].value_counts().index[0]

24

Q5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [308]:
df.pivot_table(index='categoryId',columns=df['trending_date2'].dt.day_name(), aggfunc='size')

trending_date2  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1                  243     263       255     274       246      257        234
2                  120     105       119      99       128      119        129
10                 833     837       776     830       890      894        917
15                 187     215       198     217       207      208        207
17                 633     668       592     636       682      708        706
19                  90      92        87      91        92       89         85
20                 283     298       296     289       282      285        291
22                1288    1373      1289    1337      1341     1375       1333
23                 568     594       570     556       560      569        566
24                2976    3148      3066    3096      2954     3084       3090
25                 444     453       422     437       470      452        468
26                 369     378       364     363       375      394        385
27                 183     205       183     199       194      194        212
28                 171     160       173     167       166      161        165
29                  12      10        10       9        13       11         12

In [309]:
# 풀이
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
group.pivot(index='categoryId',columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

Q6. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [353]:
df_notzero = df[df['view_count']!=0]
df.iloc[(df_notzero['comment_count']/df_notzero['view_count']).sort_values().index[-1]].title

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

Q7. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [374]:
df_notzero = df[df['view_count']!=0]
df_notzero.iloc[(df_notzero['comment_count']/df['view_count']).sort_values().index[0]].title

'[마이보그] 반려견과 함께한 태연의 마이보그!🐶 제로야 카메라 등지는 거 아니야~🥺💕 ㅣMY VOGUE (캐러멜, 헤드폰, 카드 지갑, 향수, 손 소독제 추천)'

In [373]:
# 풀이
target = df.loc[df.view_count !=0]
ratio = (target['comment_count'] / target['view_count']).dropna().sort_values()
ratio[ratio!=0].index[0]
df.iloc[ratio[ratio!=0].index[0]].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

Q8. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [390]:
not_zero = df[(df['likes']!=0)&(df['dislikes']!=0)]
not_zero.iloc[(not_zero['dislikes']/not_zero['likes']).sort_values().index[0]].title

'지옥의 리셋 트레이닝 // 찌찌근육 훈련'

In [392]:
target = df.loc[(df.likes !=0) & (df.dislikes !=0)]
df.iloc[(target['dislikes']/target['likes']).sort_values().index[0]].title

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

Q9. 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [398]:
df['channelTitle'].value_counts().sort_values(ascending=False).index[0]

'짤툰'

Q10. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [417]:
x = df['title'].value_counts()
len(x[x>=20])

41

In [419]:
# 풀이
(df[['title','channelId']].value_counts()>=20).sum()

40